---
title: "Amis"
slug: "amis"
image: pic05.jpg
date: 2020-01-07T15:17:15+01:00
draft: true
keywords: ""
categories:
    - ""
    - ""
draft: false
---


<!-- Content -->
<h2 id="content">Nos amis</h2>
	<p>
	Les différentes entités de Strasbourg qui soutiennent notre cause.
	</p>



<div class="row 50% uniform">
<a href="https://cadr67.fr" class="4u"><span  class="image fit"><img  src="/img/blogs/cadr67.jpeg" alt=""></span></a>
<a href="acroduvelo.eklablog.com" class="4u"><span class="image fit"><img  src="/img/blogs/accroduvelo.png" alt=""></span></a>
<a href="https://alternatiba.eu/strasbourg" class="4u$"> <span class="image fit"><img src="/img/blogs/alternatibastraslogo.jpg" alt=""></span></a>
<!-- Break -->
<a href="http://www.schilyclette.fr/" class="4u"><span class="image fit"><img src="/img/blogs/schilyclette.jpg" alt=""></span></a>
<a href="velorution.org" class="4u"><span class="image fit"><img  src="/img/blogs/velorutionfrlogo.jpg" alt=""></span></a>
<a href="https://www.velostation-strasbourg.org" class="4u$"><span class="image fit"><img  src="/img/blogs/velostationlogo.jpg" alt=""></span></a>
<!-- Break -->
<a href="https://www.bretzselle.org" class="4u"><span class="image fit"><img  src="/img/blogs/Brezelogo.png" alt=""></span></a>
<a href="http://crep.strasbourg.free.fr/" class="4u"><span class="image fit"><img  src="/img/blogs/crep.png" alt=""></span></a>
<a href="https://www.greenpeace.fr/strasbourg" class="4u"><span class="image fit"><img  src="/img/blogs/greenpeacelogo.jpg" alt=""></span></a>
<!-- Break -->
<a href="https://www.fub.fr" class="4u"><span class="image fit"><img  src="/img/blogs//FUBHDlogo.png" alt=""></span></a>
<a href="www.lestick.fr" class="4u"><span class="image fit"><img  src="/img/blogs/lesticklogo.jpg" alt=""></span></a>
<a href="https://strasbourgrespire.fr" class="4u$"><span class="image fit"><img  src="/img/blogs/strasbourgrespirelogo.png" alt=""></span></a>
</div>
