---
title: "Barometre"
slug: ""
date: 2020-01-07T14:49:52+01:00
image: barometre.jpg
keywords: ""
categories: 
    - ""
    - ""
draft: false
---


<!-- Content -->
<h2 id="content">Le baromètre officiel de vos élus ( coming soon ! )</h2>
	<p>
	Une liste de personnalité, ordonnée par la moyenne de leur KPI ( Key Performance Indicator ) sera bientôt disponible !!
	Vous pouvez dors et déjà écrire sur les réseaux sociaux #balancetonvélo #vélometre avec vos estimations de vos élus favoris :)
	</p>

<hr class="major" />
<h2 id="content">Les gentils, ceux qu'on aime bien</h2>					
										
<div class="row">
	<div class="6u 12u$(small) ">
	<p>
	<span class="image left"><img class="rounded-circle mb-3 bs" width="160px" src="http://www.velorution-strasbourg.fr/surprise/images/surprise.jpg" alt="" /> </span>
	
	<div class="">
	<h4>John Doe</h4>
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-link"><span class="label">Link</span></a></li>
	</ul>
	<b>Dicton:</b> "Je t'assures, si tu poliches ta caisse, elle brille"
	</div>
	<hr> Présentation succinte de ce que l'on pense de cet élu mystère. Avec une touche d'humour, on espère le revoir bientôt !!
	<ul class="actions fit small">
	<a href="/surprise/" class="button right">Notre analyse</a>
	</ul>
	 </p>	
	</div>
	<div class="6u$ 12u$(small)">
			<p>
	<span class="image left"><img class="rounded-circle mb-3 bs" width="160px" src="http://www.velorution-strasbourg.fr/surprise/images/surprise.jpg" alt="" /> </span>
	
	<div class="">
	<h4>John Doe</h4>
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
	</ul>
	<b>Dicton:</b> Conduire de manière "virile", c'est mortel”
	</div>
	<hr> Présentation succinte de ce que l'on pense de cet élu mystère. Avec une touche d'humour, on espère le revoir bientôt !!
	<ul class="actions fit small">
	<a href="/surprise/" class="button right">Notre analyse</a>
	</ul>
	 </p>	
	</div>
</div>

<hr class="major" />
									
<div class="row">
	<div class="6u 12u$(small) ">
	<p>
	<span class="image left"><img class="rounded-circle mb-3 bs" width="160px" src="http://www.velorution-strasbourg.fr/surprise/images/surprise.jpg" alt="" /> </span>
	
	<div class="">
	<h4>John Doe</h4>
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
	</ul>
	<b>Dicton:</b> “La voiture est le troisième testicule de l'homme moderne.”
	</div>
	<hr> Présentation succinte de ce que l'on pense de cet élu mystère. Avec une touche d'humour, on espère le revoir bientôt !!
	<ul class="actions fit small">
	<a href="/surprise/" class="button right">Notre analyse</a>
	</ul>
	 </p>	
	</div>
	<div class="6u$ 12u$(small)">
			<p>
	<span class="image left"><img class="rounded-circle mb-3 bs" width="160px" src="http://www.velorution-strasbourg.fr/surprise/images/surprise.jpg" alt="" /> </span>
	
	<div class="">
	<h4>John Doe</h4>
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
	</ul>
	<b>Dicton:</b> “De tous les champignons, celui d'une voiture est encore le plus mortel.”
	</div>
	<hr> Présentation succinte de ce que l'on pense de cet élu mystère. Avec une touche d'humour, on espère le revoir bientôt !!
	<ul class="actions fit small">
	<a href="/surprise/" class="button right">Notre analyse</a>
	</ul>
	 </p>	
	</div>
</div>

	<ul class="pagination">
		<li><span class="button small disabled">Prev</span></li>
		<li><a href="#" class="page active">1</a></li>
		<li><a href="#" class="page ">2</a></li>
		<li><a href="#" class="button small">Next</a></li>
	</ul>
	
<h2 id="content">Vous avez aimé ?</h2>
	<p>
	N'hésitez pas à partager ces informations avec vos amis et interpeler les élus sur vos réseaux sociaux !!
	

<hr class="major" />
					
