---
title: "Histoire"
description: "On parlera de qui nous sommes, et la chronologie de vélorution Strasbourg et les résultats qu’on a eu avec les acteurs principaux."
slug: "histoire"
image: pic01.jpg
keywords: ""
categories: 
    - ""
    - ""
draft: false
---

									<!-- Content -->
										<h2 id="content">Préambule</h2>
										<p>Les Baby boomers ont influencé le modèle de société de ces 60 dernières années, les villes françaises ont donc pris un retard fou concernant les transports de mobilité douce. On le voit dans les moeurs par les faibles statistiques de l’usage de vélo qui s’explique aussi dans les rues par des infrastructures douteuses et une priorisation des voies publiques en faveur des voitures pourtant dangereuses, individualistes, pollueuses. Les vélorutions n’ont donc pas finies de faire parler d’elles et quand on regarde la ville de Amsterdam et son historique, on SAIT qu’une ville cyclable est possible, il faut juste se faire entendre.
										</p>
										
										
										<div class="row">
											<div class="6u 12u$(small) ">
												<h2 id="content2" >Sommaire</h2>
											<hr>
											<ol>
												<li>L'histoire des vélos en France</li>
												<li>Origine du mouvement</li>
												<li>Un résumé de la situation à Strasbourg</li>
												<li>Les évènements à venir ! </li>
												<li>L'historique des vélorutions + photos</li>
												<li>Rejoignez nous !</li>

											</ol>
												</div>
											<div class="6u$ 12u$(small)">
												<span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/pic02.jpg" alt="" /></span>
											</div>
										</div>
										
																			<hr class="major" />

										
										<div class="row">
											<div class="6u 12u$(small)">
	
											<h2 id="content2" >L’histoire des vélos en France</h2>

				<iframe width="100%" height="300" src="https://www.youtube.com/embed/-2b5hIERL9I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</div>
											
											<div class="6u$ 12u$(small)">
											
											<h3>Origine du mouvement</h3>
											<p> Le mouvement des vélorutions en France ne date pas d’hier, il est né suite à l’évolution exponentielle
											 du nombre de voiture sur les routes. Les 30 glorieuses, 
											 entre 1945 et 1975, ont vu le nombre de voiture multiplié par 6 -
<a href="https://fr.wikipedia.org/wiki/Histoire_de_l%27automobile">Source</a>-,
											  et on vu les autres possibilités de transports suffoquer. 
											C’est donc en 1974 que les Parisiens, prennent l’initiative de la première vélorution
											 pour contester l’effet néfaste des voitures sur la vie des gens. 
											 Ces voitures confortables est devenu le symbole de réussite sociale de ceux qu’on allait appeler par la suite les Baby Bommers, elles se sont répandues comme un cancer.
											  Malgré la croissance démographique, le parc à vélo Français s’est même vu diminué en 1969 -<a href="https://fr.wikipedia.org/wiki/Histoire_du_v%C3%A9lo_dans_la_soci%C3%A9t%C3%A9_fran%C3%A7aise">Source</a>- et on voyait les cyclistes 
											  comme des <a href="https://www.youtube.com/watch?v=-2b5hIERL9I">illuminés révolutionnaires gauchistes</a>. Etait-ce la fin du vélo et de la conscience des gens ? Non. En 1980, on sentait déjà l’essoufflement de la société de consommation et les vélos reprennent de l’ampleur. 

											</p>
											</div>
											</div>
											<hr class="major" />

										<div class="row">
											<h2 id="content2">La situation à Strasbourg</h2>


											<p> 
											La situation de Strasbourg, bien que, plus préférable à d'autres villes françaises, est très loin d'être 
											acceptable. Voilà une liste non exhaustive qui vous donnera un avant goût de ce qui est discuté dans les sections Revendication et Inspiration.
											</p>
										</div>

										<div class="row 100%">

											<!-- Break -->
											<div class="4u 12u$(medium)">
												<h3>Objectif vélo pour tous et toutes</h3>
												<p>La voiture lui a retiré sa légitimité sur la route, il est plus associé à sport risqué et qu'à un moyen de transport. 
												Aujourd'hui, il faut changer la donne. Remettre les priorités collectives et durables avant le modèle individuel polluant.
												Il ne faut plus rendre les routes cyclables, c'est insuffisant, il faut les rendre cyclistes et sécurisés.
												
												</p>
												<ul class="actions">
														<li><a href="#" class="button ">En savoir plus</a></li>
												</ul>
											</div>
											<div class="4u 12u$(medium)">
												<h3>Contraindre la place de la voiture</h3>
												<p>Aujourd'hui, une voiture passe son temps à l'arrêt.
												Elle pollue et coute très cher : achat, le carburant, réparations, vies humaines et le coté individualiste/malveillant qu'elle éveille chez les usagés.
												Autrement dit, c'est un gâchis, un fiasco total.
												Il faut donc simplement contraindre et limiter son usage qu'au nécessaire.
									 		</p>
											<ul class="actions">
														<li><a href="#" class="button ">En savoir plus</a></li>
												</ul>
												</div>
											<div class="4u$ 12u$(medium)">
												<h3>Un budget enfin à la hauteur de la capitale du vélo</h3>
												<p>Jusqu'à preuve du contraire, pour dire que Strasbourg est la capitale du vélo, il faudrait promouvoir et subventionner son usage à minima au même niveau que le budget automobile.
												   Mais ce n'est pas le cas, certains BOOMERS préfèrent s'efforcer à maintenir un système qui ne tend qu'à s'effondrer.
											</p>
											<ul class="actions">
														<li><a href="#" class="button ">En savoir plus</a></li>
												</ul>
												</div>
										</div>



									<hr class="major" />


									<h2 id="content2">Les évènements à venir</h2>
									
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Date</th>
																	<th>Description</th>
																	<th>Adresse</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>En cours</td>
																	<td>Préparations pour les élections</td>
																	<td>Strasbourg, Schiltigheim</td>
																</tr>
																<tr>
																	<td>En cours</td>
																	<td>Les marches du climats</td>
																	<td>Strasbourg</td>
																</tr>
									
															</tbody>
													
														</table>
													</div>
									


									<h2 id="content2">L'historique des vélorutions</h2>

													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Date</th>
																	<th>Description</th>
																	<th>media</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>10 nov. 2019</td>
																	<td>Vélorution #tousàvélo du centre ville à Neudorf</td>
																	<td><a href="#" class="button icon fa-download">à venir</a></td>
																</tr>
																<tr>
																	<td>4 oct. 2019</td>
																	<td>Vélorution à Schiltigheim suite à un accident mortel</td>
																	<td>no images</td>
																</tr>
																<tr>
																	<td>1 juin 2018</td>
																	<td>Vélorution pour une piste cyclable sur l’avenue des vosges</td>
																	<td><a href="#" class="button icon fa-download">à venir</a></td>
																</tr>
																<tr>
																	<td>28 Mai 2016</td>
																	<td>8em vélorution mentuelle</td>
																	<td><a href="#" class="button icon fa-download">à venir</a></td>
																</tr>
																<tr>
																	<td>24 Avril 2016</td>
																	<td>7em vélorution mentuelle</td>
																	<td>no images</td>
																</tr>
															</tbody>
											
														</table>
													</div>

									<h2 id="content2"> <a href="/blogs/contact/"> Rejoignez nous</a> !</h2>

									<p> Le collectif se renouvelle régulièrement vous pouvez nous rejoindre et donner un coup de main ! Lors d'une Vélorution, chaque roues comptent. Vous pouvez soit venir nous voir à la prochaine vélorution pour nous aider sur le terrain soit nous soutenir sur les réseaux sociaux et lors de vos votes.
									
									