---
title: "Inspiration"
slug: "inspiration"
image: poeme.jpg
date: 2020-01-07T15:16:58+01:00
keywords: ""
categories:
- ""
- ""
draft: false
---



<!-- Content -->
<h2 id="content">Pourquoi on pédale toute l'année </h2>
<p>
Une liste de raisons qui vont vous montrer que le vélo en ville, dans le monde entier, c'est le passé, et c'est l'avenir. On commencera par des analyses qui récapitulent la situation actuelle ainsi que des exemples qui montrent que c'est possible et que <a href="http://www.velorution-strasbourg.fr/img/blogs/betterworld.pdf" > le monde est bien meilleur en bicyclette </a> !
</p>
<hr>

<div class="row">
  <div class="6u 12u$(small) ">
    <a href="https://www.ledevoir.com/opinion/idees/480760/10-mythes-toxiques-sur-le-velo">
      <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/toxiques.png" alt="" /></span>
      </a>
    </div>
  <div class="6u$ 12u$(small)">

    <a href="http://carfree.fr/index.php/2013/09/28/raisons-de-faire-du-velo/" >
      <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/raisons.png" alt="" /></span>
    </a>
  </div>
</div>


<h2 id="content">ANALYSE SWOT </h2>

<p>L'analyse SWOT ou matrice SWOT (pour Forces, Faiblesses, Opportunités et Menaces en français) est un outils d'analyse stratégique. Elle permet de réaliser un diagnostic avant de lancer un projet.
</p>
<div class="row">
  <div class="6u 12u$(small) ">
    <h3 id="content">VELO</h3>


      <object data="http://www.velorution-strasbourg.fr/img/swot.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="600px" height="640px">
        <embed src="http://www.velorution-strasbourg.fr/img/swot.pdf#toolbar=0&navpanes=0&scrollbar=0">
          <p>This browser does not support PDFs. Please download the PDF to view it: <a href="http://www.velorution-strasbourg.fr/img/swot.pdf">Download PDF</a>.</p>
        </embed>
      </object>
    </div>
    <div class="6u$ 12u$(small)">
      <h3 id="content">VOITURE</h3>


        <object data="http://www.velorution-strasbourg.fr/img/S_W_O_T_Voiture.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="600px" height="640px">
          <embed src="http://www.velorution-strasbourg.fr/img/S_W_O_T_Voiture.pdf#toolbar=0&navpanes=0&scrollbar=0">
            <p>This browser does not support PDFs. Please download the PDF to view it: <a href="http://www.velorution-strasbourg.fr/img/swot.pdf">Download PDF</a>.</p>
          </embed>
        </object>
      </div>
    </div>

    <hr>

    <h2 id="content">PARADOXE</h2>

    <p>
D'après ces deux analyses, on remarque que le choix de la voiture est bien, <b>BIEN</b> inférieur que le vélo en ville. Alors pourquoi est elle si populaire ?
    </p>
    <h3> Element de réponse : </h3>

    <div class="row">
      <div class="6u 12u$(small) ">
            <h4>PARADIGME À DEPASSER</h4>
            Dans une société néo-libérale, où la réussite ne se voit qu’à l’extérieur, la voiture est pensée comme une extension de la personne (c’est moi qui ai la plus grosse !). Cette pensée irrationnelle n’a pas été prise en compte dans l’analyse S.W.O.T. Au même titre que le style vestimentaire définirait les qualités d’une personne, la voiture reflète la réussite sociale.
Les politiques actuelles sont axées sur ce mode de pensée. Les villes sont pour l’essentiel conçues par et pour une certaine catégorie sociale excluant de fait les autres modes de vie, jugées minoritaires voire mineures. Les inconvénients de la voiture, tels que les pollutions, l’encombrement, l’impact sur la santé physique et mentale, les coûts, les accidents mortels ne sont rien en regard de cette visibilité de réussite sociale. Cela ne peut justifier les choix politiques favorables à la voiture. La voiture n’est pas taxée. Sa diffusion est même soutenue par la construction d’Autoroutes au détriment de terres agricoles et de la biodiversité, sans compter la prime à la casse versée uniquement pour un nouvel achat de voiture.
Dépassons ces <a href="https://fr.wikipedia.org/wiki/Effet_de_mode"> effets de mode</a>.
Il est temps de créer un nouvel imaginaire collectif, de renverser le système de valeurs archaïque qui fait rimer réussite sociale et grosse cylindrée. Comme le propose Aurélien Barrau, souhaitons un avenir où l'automobiliste ne sera plus celui que l'on envie mais celui qui devrait avoir honte de ne pas choisir une alternative quand il le peut.
        </div>
      <div class="6u$ 12u$(small)">
        <h4>Paradoxe de notre societé</h4>
        <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/auto-boulot-maso-mini.png" alt="" /></span>
      </div>
    </div>

    <div class="row">
      <div class="6u 12u$(small) ">
            <h4> EFFET DE MODE </h4>
            La voiture n’échappe pas à cette <a href="https://fr.wikipedia.org/wiki/Cycle_du_hype">théorie </a> . Lors de l’apparition d’une technologie nouvelle (voitures, smartphones, réseaux sociaux etc.. ), un enthousiasme parcourt les utilisateurs qui se l'approprient. N’ayant aucune expérience passée de cette technologie, elle sera investie jusqu’à saturation. Ce n’est qu’a posteriori que son usage sera plus modéré. Cette courbe commence avec les baby boomers et on se trouve aujourd'hui à son paroxysme. Le modèle de la voiture individuelle, électrique ou non, est à court, moyen et long terme définitivement obsolète.
Il est urgent que les choix politiques soient soutenables.


        </div>
      <div class="6u$ 12u$(small)">
        <h4> Courbe de l'effet de mode </h4>
        <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/Gartner_Hype_Cycle" alt="" /></span>
      </div>
    </div>

    <div class="row">
      <div class="6u 12u$(small) ">
        <h4> ANALYSE </h4>
        <p>
          On remarque bien que le cycle de vie des voitures est divisé en 3 âges. La création, l’évolution exponentielle jusqu’à stabilité et l'invévitable future chute.
        </p>
        <p>
          On voit même que pendant une longue période de 50 ans le vélo était vraiment délaissé au profil de la voiture. Cela donne un peu une ordre de grandeur concernant les effets de modes structurels dans le monde des transports.
        </p>
        <p>
          si vous êtes interessés par une analyse des différentes étapes du développement des transports français avec la théorie des jeux.
                </p>
          <label class="button" for="toggle-1"> Analyse des ages ( à venir ) </label>

        </div>
        <div class="6u$ 12u$(small)">
          <h4>CYCLE DE VIE ET PROJECTIONS</h4>

        <img  src="http://www.velorution-strasbourg.fr/img/blogs/chart.png"></img>

             </div>
    </div>





    <input type="checkbox" id="toggle-1">

    <div class="magic"> <h2>UN PEU DE THEORIE DES JEUX</h2>

    <h3> Introduction </h3>
    <p>

      <a href="https://fr.wikipedia.org/wiki/Théorie_des_jeux" > La théorie des jeux </a> est un moyen de comprendre expliquer et d'anticiper les actions de certains acteurs en rapport avec une situation ( règles du jeux ).
      Les choix politiques sont déçisifs sur les choix des usagers des différents moyens de transports et nous vous proposons d'expliquer historiquement l'évolution de la situation à l'aide de cet outil.
      Ces explications nous permettront de comprendre que situation actuelle et mieux envisager si l'oeuf était là avant la poule, autrement dit s'il faut attendre que les cyclistes soient plus nombreux pour leur fournir
      des infrastructures viables..
    </p>

    <h3> Le jeu </h3>

    <p>
      Le jeu est composé en abscisse par les différentes actions politiques possible. En faveur des différents moyens de transport : voiture, vélo, transport en commun ou encore inaction.
      Et en ordonnée on trouvera les choix possibles des citoyens. Le tableau représentera une estimation de fréquences d'usage de chacuns des moyens de transports à sa disposition.

      Chaque tableau illustrera une situation à un temps donnée de l'histoire. On en distinguera 4. Les données dans le cases correspondent à des points que l'on donne à chaques situation.
      Ces points sont estimés arbitrairement pour illustrer des bénéfices/score à court/moyen terme des différents engagement politiques.
    </p>



    <div class="row">
      <div class="6u 12u$(small) ">
    <h4> Creation </h4>
        <p>
          Nous sommes en 1900, pas de baby boom, pas d'insdustrialisation massive. Les transports sont cher, peu confortable et on vit dans un monde qui s'est développé localement.
          Les routes ne sont pas très structurées et il n'y a pas de règles de déplacement particulières. <p><b>Il y avait une voiture pour 25 000 français.</b></p>
        </p>
        </div>
      <div class="6u$ 12u$(small)">
        <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/chart1.png" alt="" /></span>
      </div>
    </div>


    <p> Le tableau suivant répond à la question suivante.
    <code>En 1900, quel moyen de transport utiliserait-on à court/moyen terme en fonction des idéologies politiques.</code></p>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th> Choix </th>
            <th>Inaction politique</th>
            <th>Pro vélo</th>
            <th>Pro voiture</th>
            <th>Pro Transport Partagés</th>

        </tr>
        </thead>
        <tbody>
          <tr>
            <th>Pied</th>
            <td>50</td>
            <td>30</td>
            <td>10</td>
            <td>30</td>

          </tr>
          <tr>
            <th>Vélo</th>
            <td>35</td>
            <td>50</td>
            <td>25</td>
            <td>35</td>

          </tr>
          <tr>
            <th>Voiture</th>
            <td>2</td>
            <td>2</td>
            <td>10</td>
            <td>2</td>

        </tr>
        <tr>
          <th>Transport Partagés</th>
          <td>13</td>
          <td>13</td>
          <td>10</td>
          <td>20</td>

        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Score</td>
            <td>100</td>
            <td>95</td>
            <td>55</td>
            <th class="special" >87</th>
          </tr>
        </tfoot>
      </table>
    </div>

    <blockquote>
      L'insdustrialisation n'était pas en place. Donc impossible de produire quoi que ce soit en grosse quantité.
      Le pays concentrait ses efforts pour multiplier les transports en communs sur le long terme. Comme le chantier est important, les bénéfices ne
      se sentaient pas à court et moyen terme. On n'envisageait pas la possibilité de la voiture individuelle à cette époque là, mais on comprennait le potentiel
      bénéfique du train et autres transports partagés, plutôt que d'être limité par le vélo et la marche.
    </blockquote>




  <div class="row">
    <div class="6u 12u$(small) ">
      <h4> Developement </h4>
      <p>
        Nous sommes en 1970, Dans le temps de l’après guerre, l’industrialisation,  les évolutions technologiques et les 30 glorieuses ont rendu les voitures plus accessibles. Les villes ont adaptés leurs rues pour être plus utilisable par ces engins motorisés. Cela paraissait être le choix naturel et évident. Cela permettait d’avoir un style de vie plus confortable. Comme tout le monde ne pouvait pas encore se le permettre, ça permettait d’être une personne distinguée, tout le monde voulait avoir une voiture. Comme ce mouvement était nouveau, les conséquences de ces comportement n’était pas encore mesurés. On observe donc que la courbe d’usage de la voiture est exponentielle. <b>A ce moment là 1 français sur 4 a une voiture.</b>
    </p>
      </div>
    <div class="6u$ 12u$(small)">
      <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/chart2.png" alt="" /></span>
    </div>
  </div>



<p> Le tableau suivant répond à la question suivante.
<code>En 1970, quel moyen de transport utiliserait on à court/moyen terme en fonction des idéologies politiques.</code></p>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th> Choix </th>
        <th>Inaction politique</th>
        <th>Pro vélo</th>
        <th>Pro voiture</th>
        <th>Pro Transport Partagés</th>

    </tr>
    </thead>
    <tbody>
      <tr>
        <th>Pied</th>
        <td>50</td>
        <td>10</td>
        <td>20</td>
        <td>20</td>

      </tr>
      <tr>
        <th>Vélo</th>
        <td>35</td>
        <td>60</td>
        <td>20</td>
        <td>35</td>

      </tr>
      <tr>
        <th>Voiture</th>
        <td>2</td>
        <td>30</td>
        <td>60</td>
        <td>25</td>

    </tr>
    <tr>
      <th>Transport Partagés</th>
      <td>30</td>
      <td>30</td>
      <td>20</td>
      <td>50</td>

    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Score</td>
        <td>110</td>
        <td>130</td>
        <th class="special" >120</th>
        <td  >130</td>
      </tr>
    </tfoot>
  </table>
</div>

<blockquote>
    L'industrie automobile explose suite à la Volswagen qui se voulait être la "voiture du peuple". Elle suit une croissance exponentielle et obsere un soutient politique important.
    Les rues voient vite leurs infrastructures s'adapter à ces dernières sans prendre en compte les cyclistes comme le vélo était délaissé par les français à cette époque là. appartiennent désormais à ces machines.
    Comme elles n'avaient pas encore atteint la phase de saturation et étant donné qu'on prensait les stocks de pétrole inépuisable, cela parraissait être un moyen de transport convenable.
    Etant donné que cette technologie était récente, l'euphorie des usagers ne permettait pas de voir que la voiture individuelle ne répondrait pas à une solution viable pour les transports du future.
</blockquote>





<div class="row">
  <div class="6u 12u$(small) ">
    <h4> Saturation </h4>
    <p>
      Nous sommes en 2010. La société et ses transports se sont construits autour de la voiture. Elle s’est démocratisée et on observe aujourd’hui plusieurs choses dont on ne pouvait pas se rendre compte avant qu’elles soient si nombreuses sur nos routes.
    De nombreux bouchons sur les routes qui rendent les automobilistes malheureux. Le suffoquement des piétons et cyclistes sur les routes considérés comme des moins que rien. Une culture importante de l’individualisme et manque de civisme sur la route.
    En quelque mots, la voiture représente aujourd’hui une indésirable dans les villes et nos esprits. Elle pue, éblouie, prend de la place inutilement, fait des accidents et n’est pas un modèle viable à long terme.
      <b>A ce moment là 1 français sur 2 a une voiture.</b>
    </p>
    </div>
  <div class="6u$ 12u$(small)">
    <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/chart3.png" alt="" /></span>
  </div>
</div>

<p> Le tableau suivant répond à la question suivante.
<code>En 2010, quel moyen de transport utiliserait-on à court/moyen terme en fonction des idéologies politiques.</code></p>
<div class="table-wrapper">
<table>
<thead>
  <tr>
    <th> Choix </th>
    <th>Inaction politique</th>
    <th>Pro vélo</th>
    <th>Pro voiture</th>
    <th>Pro Transport Partagés</th>

</tr>
</thead>
<tbody>
  <tr>
    <th>Pied</th>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>

  </tr>
  <tr>
    <th>Vélo</th>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>

  </tr>
  <tr>
    <th>Voiture</th>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>

</tr>
<tr>
  <th>Transport Partagés</th>
  <td>#</td>
  <td>#</td>
  <td>#</td>
  <td>#</td>

</tr>
</tbody>
<tfoot>
<tr>
  <th>Score</td>
    <td>#</td>
    <td>#</td>
    <th class="special" >#</th>
    <td  >#</td>
  </tr>
</tfoot>
</table>
</div>

<blockquote>

BLabla

</blockquote>


<div class="row">
  <div class="6u 12u$(small) ">
    <h4> Future </h4>
    <p>
      Nous sommes en 2030. Le future est.. hypothétique !
      <b>A ce moment là 1 français sur # a une voiture.</b>
    </p>

    </div>
  <div class="6u$ 12u$(small)">
    <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/chart4.png" alt="" /></span>
  </div>
</div>



<p> Le tableau suivant répond à la question suivante.
<code>En 2030, quel moyen de transport utiliserait on à court/moyen terme en fonction des idéologies politiques.</code></p>
<div class="table-wrapper">
<table>
<thead>
  <tr>
    <th> Choix </th>
    <th>Inaction politique</th>
    <th>Pro vélo</th>
    <th>Pro voiture</th>
    <th>Pro Transport Partagés</th>

</tr>
</thead>
<tbody>
  <tr>
    <th>Pied</th>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>

  </tr>
  <tr>
    <th>Vélo</th>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>

  </tr>
  <tr>
    <th>Voiture</th>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>

</tr>
<tr>
  <th>Transport Partagés</th>
  <td>#</td>
  <td>#</td>
  <td>#</td>
  <td>#</td>

</tr>
</tbody>
<tfoot>
<tr>
  <th>Score</td>
    <td>#</td>
    <td>#</td>
    <th class="special" >#</th>
    <td  >#</td>
  </tr>
</tfoot>
</table>
</div>

<blockquote>
  Nous vivons dans un monde où ce n'est plus les limites financières et materielles qui influent sur les déçisions des hommes. Dorénavent, il ne faudrait pas faire quelque chose, "parce qu'on a les moyens de le faire",
  mais plutôt de faire des choses parce que c'est raisonnable de le faire ( sans priver les futures génération d'un avenir.. ). Cette prise de conscience à l'échelle de la société n'est pas évident, mais c'est un pas qu'il faut
  être capable de franchir.
</blockquote>

<label class="button" for="toggle-1">  Cacher le détail </label>


</div>
    <hr>
    <h2 id="content">LA TRANSITION VELORUTIONAIRE DANS LE MONDE</h2>

    <div class="row">
      <div class="6u 12u$(small) ">
        <h4>Le vide politique</h4>

        <p>Une fois la vélotransition finie, ces villes, brillent toujours de leur attractivité et dynamisme. Exemple de Amsterdam, Copenhague etc.. </p>
        <p>
        Voilà une image qui monte les pistes cyclables en Europe. On voit très bien les frontières françaises qui montrent bien le <b>vide politique</b> concernant la promotion des pistes cyclables </p>


        </div>
      <div class="6u$ 12u$(small)">
        <span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/pistescyclables-europe.jpg" alt="" /></span>
      </div>
    </div>
      <hr>
    <h2 id="content">LA VELOTRANSITION A STRASBOURG</h2>

    <h4>Le bétisier Strasbourgeois</h4>
    <p> Voilà le genre de situation que l'ont ne veut plus voir à Strasbourg. Merci à rue69strasbourg pour les photos. Rendez vous à la section <a href="http://www.velorution-strasbourg.fr/blogs/revendications/" > revendications </a> pour comprendre ce qu'on attend.</p>


    <div class="row 50% uniform">
      <div class="4u"><span class="image fit"><img src="https://www.rue89strasbourg.com/wp-content/uploads/2016/02/Camion-sur-piste.jpg" alt=""></span></div>
      <div class="4u"><span class="image fit"><img src="https://www.rue89strasbourg.com/wp-content/uploads/2016/02/Espace-commun.jpg" alt=""></span></div>
      <div class="4u$"><span class="image fit"><img src="https://www.rue89strasbourg.com/wp-content/uploads/2016/02/Pistes-crois%C3%A9es.jpg" alt=""></span></div>
      <!-- Break -->
      <div class="4u"><span class="image fit"><img src="https://www.rue89strasbourg.com/wp-content/uploads/2016/02/Carrefour-fou.jpg" alt=""></span></div>
      <div class="4u"><span class="image fit"><img src="https://www.rue89strasbourg.com/wp-content/uploads/2016/02/arr%C3%AAt-de-bus1.png" alt=""></span></div>
      <div class="4u$"><span class="image fit"><img src="https://www.rue89strasbourg.com/wp-content/uploads/2016/02/arr%C3%AAt-de-bus.png" alt=""></span></div>
      <!-- Break -->
      <div class="4u"><span class="image fit"><img src="https://www.rue89strasbourg.com/wp-content/uploads/2016/02/Pied-%C3%A0-terre.jpg" alt=""></span></div>
      <div class="4u"><span class="image fit"><img src="https://www.rue89strasbourg.com/wp-content/uploads/2016/02/voiture-sur-piste.png" alt=""></span></div>
    </div>
