---
title: "Revendications"
slug: "revendications"
image: pic03.jpg
date: 2020-01-07T15:17:07+01:00
keywords: ""
categories:
    - ""
    - ""
draft: false
---

<section id="one">
  <div class="inner">

    <div class="row">
      <div class="12u$ 12u$(small)">
        <h3>Introduction</h3>
        <p>
          Le collectif de vélorution est là pour remettre les politiques sur le droit chemin. Ne vous méprenez pas, nous ne sommes pas là pour faire du développement “<b>durable</b>”. Parce que ce qui “peut durer un certain temps” est voué à disparaître. <b>Ce n’est pas suffisant</b> car c’est forcément au détriment de quelqu’un/quelque chose. Nous voulons quelque chose qui <b>fonctionne sans compromis</b>, sans limite de temps, ni plus ni moins. La voiture ne rentre absolument pas dans ce cadre.
        </p>
      <h3>I.  Contraindre la place de la voiture</h3>
      </div>
      <!-- Break -->
      <div class="4u 12u$(medium)">

        <p>
          Sa présence en ville est le symptôme insoutenable d’une sociétée malade. Elle s’est répandue comme un cancer et a pris la place légitime dans les rues de <a>la petite reine</a> et par la même occasion, des autres moyens de transports plus locaux, plus justes et clairement plus soutenables.
        </p>
      </div>
      <div class="8u 8u$(medium)">
        <div class="row 50% uniform">
          <div class="8u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/space12.jpg" alt="" /></span></div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Break -->
      <div class="12u$ 12u$(small)">
        <h3>II.   Refondre complètement les transports en ville</h3>

      </div>
      <div class="4u 12u$(medium)">
        <p> Pour rendre le vélo accessible et sécurisé à tout.e.s partout. Un.e cycliste fait partie d’une diversité fragile qu’il faut protéger et promouvoir. Elle est composée de tout ce qui a des roues et ne roule pas au pétrole..  ( bicyclette, vélo-couchés, rollers, skateboard etc.) et pour tous âges ( enfants, adultes et personnes âgées ). Cette diversité a BESOIN d’une surface large continue, lisse et sécurisée.
        </p>
      </div>
      <div class="8u 8u$(medium)">
        <div class="row 50% uniform">
          <div class="4u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/refonte1.jpg" alt="" /></span></div>
          <div class="4u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/infra.jpg" alt="" /></span></div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Break -->
      <div class="12u$ 12u$(small)">
        <h3>III.	Le virage historique de la politique des transports</h3>

      </div>
      <div class="4u 12u$(medium)">
        <p>Il est indispensable. Le budget de la ville de Strasbourg pour la petite reine et ses infrastructures, doit être à la hauteur de son titre auto-proclamé de “capitale du vélo”. L’espace automobile a un budget alloué qui maintient désespérément  ce modèle à flot. Les alternatives sont là, plus conviviales, plus rentables, plus abordables et même plus rapides... Qu’est ce qu’on attend ?
        </p>
      </div>
      <div class="8u 12u$(medium)">
        <div class="row 50% uniform">
          <div class="4u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/avant.jpg" alt="" /></span></div>
          <div class="4u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/apres.jpg" alt="" /></span></div>
        </div>
      </div>
  </div>
  <hr class="major" />
  <div class="12u$ 12u$(small)">
    <h3>Avant / Après</h3>
    <div class="row 50% uniform">
      <div class="4u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/test1.png" alt="" /></span></div>
      <div class="4u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/test2.jpg" alt="" /></span></div>
      <div class="4u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/test4.jpg" alt="" /></span></div>
    </div>

  </div>

  <h3>Tout y est !</h3>


  <div class="row">
    <!-- Break -->
    <div class="12u$ 12u$(small)">

    </div>
    <div class="4u 12u$(medium)">
      <h3>La facade politique</h3>

      <p>qui annonce <b>vouloir</b> (mais qui véritablement <b><a href="http://www.leparisien.fr/environnement/pollution-la-commission-europeenne-assigne-la-france-devant-la-cour-de-justice-17-05-2018-7721139.php">doit </a></b>) changer les choses. On retrouve des communiqués  <a href="https://www.strasbourg.eu/documents/976405/1084289/0/b3fb3dac-3170-6921-a7c6-240844dd5b20">ici</a> et <a href="https://www.strasbourg.eu/plan-climat-2030" >là </a>.
      Malheureusement, au dela des mots, on observe un immobilisme affligeant.</p>
    </div>
    <div class="8u 8u$(medium)">
      <div class="row 50% uniform">
        <div class="8u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/facedepol.jpg" alt="" /></span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Break -->
    <div class="12u$ 12u$(small)">

    </div>
    <div class="4u 12u$(medium)">
      <h3>La carte de la FUB</h3>

      <p>qui montre simplement <a href="https://carto.parlons-velo.fr/?c=67447"> tout ce qu'il faut revoir dans l'Eurométropole de Strasbourg </a>. Cette carte, d'envergure nationale, est à participation citoyenne. C'est donc des locaux qui connaissent bien les lieux qui réclament des changements.
      </p>
    </div>
    <div class="8u 8u$(medium)">
      <div class="row 50% uniform">
        <div class="8u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/cartefub.jpg" alt="" /></span></div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Break -->
    <div class="12u$ 12u$(small)">

    </div>
    <div class="4u 12u$(medium)">
      <h3>Nos actions</h3>

      <p> Vélorutions, sondages, communications, recommandations.. Nous agissons bénévolement pour faire le travail qui est normalement le rôle de la ville..
        En attendant, il faut bien que quelqu'un fasse quelque chose, pourquoi pas vous ?
      </p>
    </div>
    <div class="8u 8u$(medium)">
      <div class="row 50% uniform">
        <div class="8u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/nosactions.jpg" alt="" /></span></div>
      </div>
    </div>
  </div>


  <div class="row">
    <!-- Break -->
        <h3>Ce qu'il reste à faire</h3>
    <div class="12u$ 12u$(small)">

    </div>
    <div class="6u 12u$(medium)">
      <div class="8u"><span class="image fit"><img src="http://www.velorution-strasbourg.fr/img/blogs/needyou.png" alt="" /></span></div>


    </div>
    <div class="6u 8u$(medium)">
      <div class="row 50% uniform">


        <a href="http://www.velorution-strasbourg.fr/blogs/barometre/"> <b>FAIRE ENTENDRE VOTRE VOIX</b></a> .
        <p> Nous avons donc cherché à comprendre ce qui bloque, et nous vos proposons donc, de manière transparente, les interactions que l'on a avec les candidats aux élections.
        </p><p>Ca permettra de mieux comprendre, si c'est leurs intentions, ou l'administration qui bloque pour mettre en oeuvre la vélo-transition et d'agir en conséquence.</p>

 </div>

    </div>
    <p> Nous leurs avons transmis <a href="">un questionnaire</a> et à chaques rencontres nous écrivons un compte rendu. Visitez la section <a href="http://www.velorution-strasbourg.fr/blogs/barometre/"> barometre </a>pour suivre les échanges et avoir plus de détails !!</p>

  </div>




  </div>
</section>
